body {
        overflow: hidden;
    }
#editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.row {
    width: 1000px;
    max-width: 100%;
    min-width: 748px;
    margin: 0 auto;
}
.column {
    width: 100%;
	min-height: 1px;
	padding: 0 auto;
	position: relative;
}
.topbar {
    background: #111;
    min-height: 30px;
    line-height: 30px;
    margin: 0 0 10px 0;
    padding: 0;
    widows: 100%;
    position: relative;
}
.forty {
    width: 40%;
}
.editor {
    width: 94%;
    min-height: 500px;
    height: 750px;
}
.left {
	float: left;
}
.right {
    float: right;
}
